<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pedro.obsidianlaunchsync</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/pedro/Códigos/apple-notes-obsidian-sync/watch_obsidian.py</string>
    </array>

    <key>StartInterval</key>
    <integer>15</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/pedro/Códigos/apple-notes-obsidian-sync/Logs/watch.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/pedro/Códigos/apple-notes-obsidian-sync/Logs/watch.err.log</string>
</dict>
</plist>
